<!doctype html>
<html>
<head>
 <title>Meadowlark Travel</title>
</head>
<body>
    <center>
        <header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
        {{{body}}}
    </center>
</body>
</html>